# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  install-ansible:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Upgrade to fix https://github.com/ansible/ansible/issues/77624 (Ubuntu 20.04)
      - name: Upgrade Ubuntu
        run: sudo apt-get update && sudo apt-get upgrade -y

      # Using ansible package and not ansible-core for the same reason as above
      - name: Install Ansible
        run: sudo apt-get install -y ansible

      - name: Output Ansible version
        run: ansible --version

      - name: Install nginx from Ansible Galaxy Collection
        run: ansible-galaxy collection install -r requirements.yaml

  run-ansible-playbook:
    needs: install-ansible
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Ansible playbook
        run: ansible-playbook -i inventory.yaml playbook.yaml
